

#nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background-color:cadetblue;
    /* color: aliceblue; */
}
#nav>a{
    color: aliceblue;
    text-decoration: none;
}
#body>h1{
   display: flex;
   justify-content: center;
   
}
div>a{
    float: right;
    text-decoration: none;
    color: blueviolet;
    font-size: larger;
    margin-right: 10px;

}
div>a:hover{
    cursor: pointer;
    color: black;
}

form, #signup{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center
}

/* login page */

#loginPage{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    
    /* width: 50%; */
}
 







#footer{
  position: absolute;
  bottom: 0;
}